{%extends 'menu.html'%}

{%block pagename%}
    <h1>Регистрация</h1>
{% endblock %}
    <nav>
        {% block menu%}
        <ul>
            <a href="/main/"><h2>Главная</h2></a>
        </ul>
        {%endblock%}
    </nav>
{%block content%}
    <form method="post">
        {%csrf_token%}
        <p>{{error}}</p>
        <label for = "username"> Введите логин </label>
        <input type="text" id="username" name="username" maxlength="30" required>

        <label for = "password"> Введите пароль</label>
        <input type="password" id="password" name="password" minlength="8" required>

        <label for = "repeat_password"> Повторите пароль</label>
        <input type="password" id="repeat_password" name="repeat_password" minlength="8" required>

        <label for = "age"> Введите свой возраст </label>
        <input type="number" id="age" name="age" min="0" max="150" required>
        <button type="submit"> Зарегистрироваться. </button>
{%endblock%}



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--    <form method="post">-->
<!--        {%csrf_token%}-->
<!--        <p>{{error}}</p>-->
<!--        <label for = "username"> Введите логин </label>-->
<!--        <input type="text" id="username" name="username" maxlength="30" required>-->

<!--        <label for = "password"> Введите пароль</label>-->
<!--        <input type="password" id="password" name="password" minlength="8" required>-->

<!--        <label for = "repeat_password"> Повторите пароль</label>-->
<!--        <input type="password" id="repeat_password" name="repeat_password" minlength="8" required>-->

<!--        <label for = "age"> Введите свой возраст </label>-->
<!--        <input type="number" id="age" name="age" min="0" max="150" required>-->
<!--        <button type="submit"> Зарегистрироваться. </button>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->